	<header class="main-header">
		<div class="inner inner-1400 flex a-center">
			<h3 class="date">Since 2005</h3>
			<a href="https://dxdigital.delta-xray.co.uk/"><img class="logo" src="/base_html/www/images/dx-logo.svg"></a>
			<div class="flex">
				<a class="button getintouch" href="https://dxdigital.delta-xray.co.uk/contact-us">Get in touch</a>
				<label class="nav-trigger" for="nav-trigger">
					<span><span>
					</span></span>
				</label>
			</div>
		</div>
	</header>
	<nav class="main-nav">
		<div id="myNav">
			<div class="overlay-content inner">
				<ul>
				{{ page.header }}
   				</ul>
   				<div class="flex-mob a-center jc-center"><a class="button" href="https://dxdigital.delta-xray.co.uk/contact-us">Get in touch</a></div>
			</div>
		</div>
	</nav>