<body>
	
	<section class="background testimonials-row-1 padding">
		<h1 class="center white">{{ label}}</h1>
	</section>

	<section class="testimonials-row-2">
		{{ drupal_view('accordion_boxes', 'block_3') }}		
	</section>

	
</body>
