<body>
	
	<section class="background service-row-1 padding">
		<h1 class="center white">{{ label}}</h1>
	</section>

	<section class="service-row-2">
		{{ drupal_view('accordion_boxes', 'block_2') }}		
	</section>

	
</body>
