<body>
	<section class="background casestudies-row-1 padding">
		<h1 class="center white">{{ label}}</h1>
	</section>

	<section class="padding casestudies-row-2 inner">
		{{ content.body.0 }}
		<div class="flex-mob a-center jc-center">
				{{ content.field_section_2_li.0 }}
		</div>
	</section>